{% extends "account/base.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="auth-box-w">
  <div class="logo-w">
    <h1>{% trans "Set Password" %}</h1>
  </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="text-left">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
{% endblock %}
