{% extends "account/base.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}



    <div class="auth-box-w">
      <div class="logo-w">

      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <h1>{% trans "Change Password" %}</h1>
    </div>
    <form method="POST" action="{% url 'account_change_password' %}">
      <div class="form-group">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
        <p>{% blocktrans %}Please contact us {{config.email}} if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
      <div class="buttons-w">
          <a href="{% url 'user_app:home' %}" class="forgot-pass-link">Back Dashboard</a>
      </div>
    </form>
    </div>
{% endblock %}
