<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="utf-8">
<meta name="description" content="Aila">
<meta name="keywords" content="HTML,CSS,JavaScript">
<meta name="author" content="HiBootstrap">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{config.title|title}}</title>
<link rel="icon" href="/static/config/assets/images/tab.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="/static/config/assets/css/bootstrap.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/animate.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/owl.carousel.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/config/assets/css/owl.theme.default.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/meanmenu.min.css" type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/magnific-popup.min.css" type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/boxicons.min.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/line-awesome.min.css' type="text/css" media="all" />

<link rel='stylesheet' href='assets/css/flaticon.css' type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/style.css" type="text/css" media="all" />

<link rel="stylesheet" href="/static/config/assets/css/responsive.css" type="text/css" media="all" />
<!--[if IE]>
                <script src="/static/config/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
</head>
<body>

<div class="preloader orange-gradient">
<div class="preloader-wrapper">
<div class="preloader-grid">
<div class="preloader-grid-item preloader-grid-item-1"></div>
<div class="preloader-grid-item preloader-grid-item-2"></div>
<div class="preloader-grid-item preloader-grid-item-3"></div>
<div class="preloader-grid-item preloader-grid-item-4"></div>
<div class="preloader-grid-item preloader-grid-item-5"></div>
<div class="preloader-grid-item preloader-grid-item-6"></div>
<div class="preloader-grid-item preloader-grid-item-7"></div>
<div class="preloader-grid-item preloader-grid-item-8"></div>
<div class="preloader-grid-item preloader-grid-item-9"></div>
</div>
</div>
</div>


<div class="fixed-top">
<div class="navbar-area">

<div class="mobile-nav">
<a href="/" class="logo">
<img src="/static/config/assets/images/logo.png" alt="logo">
</a>
<div class="navbar-option">
<div class="navbar-option-item dropdown nav-language-option">
<button class="language-option lang-compo dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img src="/static/config/assets/images/uk.png" alt="flag">
English
</button>
<div class="dropdown-menu language-dropdown-menu" aria-labelledby="dropdownMenuButton1">
<a class="dropdown-item" href="#">
<img src="/static/config/assets/images/uk.png" alt="flag">
English
</a>
<a class="dropdown-item" href="#">
<img src="/static/config/assets/images/germany.png" alt="flag">
Deutsch
</a>
<a class="dropdown-item" href="#">
<img src="/static/config/assets/images/china.png" alt="flag">
简体中文
</a>
<a class="dropdown-item" href="#">
<img src="/static/config/assets/images/arab.png" alt="flag">
العربيّة
</a>
</div>
</div>
<div class="navbar-option-item">
<a href="authentication.html">
<i class="flaticon-login"></i>
</a>
</div>
</div>
</div>

<div class="main-nav main-nav-2">
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="/static/config/assets/images/logo.png" alt="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav mx-auto">
<li class="nav-item">
<a href="/" class="nav-link dropdown-toggle active">Home</a>

</li>
<li class="nav-item">
<a href="/about" class="nav-link">About Us</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="faqs.html" class="nav-link">FAQ's</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Services</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="services.html" class="nav-link">Services</a>
</li>
<li class="nav-item">
 <a href="service-details.html" class="nav-link">Service Details</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
</li>
<li class="nav-item">
<a href="testimonials.html" class="nav-link">Testimonials</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">User</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="authentication.html" class="nav-link">Authentication</a>
</li>
<li class="nav-item">
<a href="forget-password.html" class="nav-link">Forget Password</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">404 Error Page</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Features</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="features.html" class="nav-link">Features</a>
</li>
<li class="nav-item">
<a href="feature-details.html" class="nav-link">Feature Details</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="pricing.html" class="nav-link">Pricing</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">Blogs</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="blogs.html" class="nav-link">Blogs</a>
</li>
<li class="nav-item">
<a href="blog-details.html" class="nav-link">Blog Details</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contact-us.html" class="nav-link">Contact Us</a>
</li>
</ul>
 </div>

<div class="navbar-option">

<div class="navbar-option-item">
<a href="/accounts/login" class="btn1 btn-with-image text-nowrap">
<i class="flaticon-login"></i>
<i class="flaticon-login"></i>
Access Account
</a>
</div>
</div>
</nav>
</div>
</div>
</div>
</div>

{% block content %}

{% endblock %}




<footer class="footer-bg">
<div class="container">
<div class="footer-upper">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-4">
<div class="footer-content-item">
<div class="footer-logo">
<a href="index.html"><img src="/static/config/assets/images/logo-white.png" alt="logo"></a>
</div>
<div class="footer-details">
<p>Lorem ipsum dolor sit amet, consectetur adiisicing elit, sed do eiusmod tempor inc
Neque porro quisquam est qui dolorem aliquam quaerat luptatem. sed do eiusmod tempor
inc </p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-2">
<div class="footer-content-list footer-content-item">
<div class="footer-content-title">
<h3>Support</h3>
</div>
<ul class="footer-details footer-list">
<li><a href="faqs.html">FAQ's</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
<li><a href="terms-conditions.html">Terms & Conditions</a></li>
<li><a href="blogs.html">Blogs</a></li>
<li><a href="contact-us.html">Contact Us</a></li>
</ul>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-2">
<div class="footer-content-list footer-content-item">
<div class="footer-content-title">
<h3>Company</h3>
</div>
<ul class="footer-details footer-list">
<li><a href="about-us.html">About Us</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="features.html">Features</a></li>
<li><a href="pricing.html">Our Pricing</a></li>
<li><a href="blogs.html">Blogs</a></li>
</ul>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
<div class="footer-content-list footer-content-item">
<div class="footer-content-title">
<h3>Address</h3>
</div>
<ul class="footer-details footer-list">
<li>Address: <span>456 Labisto Parkways, CA, United States</span></li>
<li>Message: <span><a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#4c25222a230c2d20252d622f2321"><span class="__cf_email__" data-cfemail="92fbfcf4fdd2f3fefbf3bcf1fdff">[email&#160;protected]</span></a></span></li>
<li>Phone: <span><a href="tel:(+00)67834598">(+00) 678 345 98</a></span></li>
<li>Faq: <span>+(456) 332-897-234</span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="footer-lower">
<div class="footer-lower-item footer-copyright-text">
<p>Copyright ©2021 Design & Developed by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
</div>
<div class="footer-lower-item footer-social-logo">
<ul class="footer-social-list">
 <li class="social-btn social-btn-fb"><a href="#"><i class='bx bxl-facebook'></i></a></li>
<li class="social-btn social-btn-tw"><a href="#"><i class='bx bxl-twitter'></i></a></li>
<li class="social-btn social-btn-ins"><a href="#"><i class='bx bxl-instagram'></i></a></li>
<li class="social-btn social-btn-pin"><a href="#"><i class='bx bxl-pinterest-alt'></i></a></li>
<li class="social-btn social-btn-yt"><a href="#"><i class='bx bxl-youtube'></i></a></li>
</ul>
</div>
</div>
</div>
</footer>


<script data-cfasync="false" src="/static/config/https://templates.hibootstrap.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/config/assets/js/jquery-3.5.1.min.js"></script>
<script src="/static/config/assets/js/bootstrap.bundle.min.js"></script>

<script src="/static/config/assets/js/jquery.magnific-popup.min.js"></script>

<script src="/static/config/assets/js/owl.carousel.min.js"></script>

<script src="/static/config/assets/js/jquery.ajaxchimp.min.js"></script>

<script src="/static/config/assets/js/form-validator.min.js"></script>

<script src="/static/config/assets/js/contact-form-script.js"></script>

<script src="/static/config/assets/js/jquery.meanmenu.min.js"></script>

<script src="/static/config/assets/js/jquery.waypoints.js"></script>

<script src="/static/config/assets/js/counter-up.js"></script>

<script src="/static/config/assets/js/script.js"></script>
</body>

</html>
